.menu-item .tab{
    display: flex;
    align-items: center;
    padding: 0.4rem 0 0.4rem 2rem;
    font-size: 1.2rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(83, 82, 82);

}

.menu-item .tab p{
    padding-left: 20px;
}

.tab-active{
    background: #fce8e6;
    color: red !important;
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
}

.tab-grey{
    background: #e8eaed;
    font-weight: bold;
    color: rgb(48, 47, 47) !important;
}
