
.mail {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
  border-radius: 4px;
}

.mail:hover{
    background: var(--search-input-color);
}

.mail p {
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.icon-active{
    /* border: 0.2px solid rgb(179, 179, 179) ; */
    background-color: rgb(211, 211, 211);
    padding: 10px 6px;
  }